.user_chat_query_container {
  margin-bottom: 24px;
  margin-top: 8px;

  .user_basic {
    display: flex;
    justify-content: flex-start;

    .user_avatar {
      height: 24px;
      width: 24px;
    }

    .user_name {
      line-height: 24px;
      padding-left: 8px;
      text-align: left;
      font-size: 15px;
      font-weight: 700;
      color: #1a2029;
      // -webkit-user-select: none;
      // -moz-user-select: none;
      // user-select: none;
    }
  }

  .user_content {
    margin-left: 32px;
    margin-top: 8px;
    // padding: 8px 16px 0px 16px;
    padding: 8px 16px 8px 16px;
    background: #4759c5;
    border-radius: 16px;
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    display: inline-block;
    position: relative;
    .user_content_ReactMarkdown {
      p:last-child {
        margin-bottom: 0;
      }
      ::selection {
        background: #000;
        color: #fff;
      }

      p{color: #fff}
      h1{ color: #fff}
      h2{ color: #fff}
      h3{ color: #fff}
      h4{ color: #fff}
      h5{ color: #fff}

    }

    &:hover {
      cursor: pointer;
      // background: rgba(74, 90, 112, .06);
      background-color: fade(#4759c5, 80%);
      .copy-btn {
        display: flex;
      }
    }
    .copy-btn {
      display: none;
      // display: flex;
      position: absolute;
      width: 105px;
      left: 5px;
      bottom: -40px;
      height: 40px;
      box-sizing: border-box;
      padding: 0 12px;
      justify-content: center;
      align-items: center;
      gap: 5px;
      border-radius: 8px;
      border: 1px solid var(--stroke_chat_box_grey_1, #eee);
      background: var(--bg_floating_white_1, #fff);
      z-index: 1000;
      box-shadow: 0 4px 12px 0 rgba(17, 49, 95, 0.08);
      color: #1a2029;
      &:hover {
        color: #4759c5;
      }
    }
  }
}
