.code_light_container {
  .h2 {
    font-weight: 600;
    font-size: 16px;
    color: #000000;
    line-height: 19px;
    margin-bottom: 17px;
  }
   .mg_top_16{
    margin-top: 16px;
   }
  .code_wrap {
    border-radius: 21px;
    // margin-bottom: 30px;
    overflow: hidden;
    color: #fff;
    font-family: Roboto, Roboto;
    .code_title {
      height: 50px;
      background: #27262b;
      padding: 0 20px;
      border-bottom: 1px solid #3f3e45;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .code_content {
      padding: 12px 20px 20px;
      background-color: #18171b;
    }
  }
}
