.search-dropdown-menu {
  display: grid;
  grid-template-columns: 1fr 28px;
  grid-column-gap: 5px;
  align-items: center;
  .options-btn {
    width: 28px;
    height: 28px;
    background: #f0f0f5;
    border-radius: 4px;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
  }
}
