.li_shange_side {
  background-color: #fff;
  width: 80px !important;
  max-width: 80px !important;
  min-width: 80px !important;
  box-shadow: 0 0 22px 0 #adbad2;

  .side_item {
    text-align: center;
    margin-top: 4px;
    margin-bottom: 4px;

    .side_item_icon {
      font-size: 32px;
      margin-bottom: -8px;
    }
  }

  .side_item_active {
    background-color: var(--ant-primary-color);
    text-align: center;
    margin-top: 4px;
    margin-bottom: 4px;

    .side_item_icon {
      font-size: 32px;
      margin-bottom: -8px;
      color: #fff;
    }

    .side_item_text {
      color: #fff;
    }
  }

}