.history-drawer {
  //   height: 100vh;
  .ant-drawer-content-wrapper,
  .ant-drawer-content {
    border-radius: 32px 32px 0px 0px;
  }
  .ant-drawer-header {
    border-bottom: none;
    padding: 27px 31px;
  }
  .ant-drawer-body {
    padding-top: 0;
  }
  .log-list {
    margin-top: 16px;
    .log-item {
      border-bottom: 1px solid #dddddd;
      padding: 20px 0;
      .item-line-flex {
        display: flex;
        justify-content: space-between;

        font-family: PingFang-SC, PingFang-SC;
        font-size: 12px;
        color: #444444;
        line-height: 18px;
        text-align: left;
        font-style: normal;
      }
      .item-main {
        font-weight: 500;
        font-size: 14px;
        color: #111111;
        line-height: 20px;
        text-align: left;
        font-style: normal;
        padding-bottom: 6px;
      }
      .item-date {
        width: 180px;
        height: 18px;
        font-size: 12px;
        color: #b2b2b2;
        line-height: 18px;
        text-align: left;
        font-style: normal;
      }
    }
  }
}
